<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% load static %}
<body>
<form method="post" action="application">
    {% csrf_token %}
    <h1 class="log">Application</h1>
    <label>Status : </label>
    <input type="text" name="status"><br><br>
    <label>Date : </label>
    <input type="date" name="date"><br><br>

    <input class="btn btn-outline-primary" type="submit" value="Apply">
</form>
{{application}}
<!--{{data}}-->



<link rel="stylesheet" href="{% static 'css/formstyle.css' %} ">
</body>
</html>