<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% load static %}
<body>
<h1>Update Job</h1>

<form method="post" action="editjob">
    {% csrf_token %}
    <label>Id : </label>
    <input type="text" name="job_id"><br><br>
     <label>Job : </label>
    <input type="text" name="job"><br><br>
    <label>Location : </label>
    <input type="text" name="loc"><br><br>
    <input class="btn btn-outline-primary" type="submit" value="Edit"><br><br>

    {{edit}}



<link rel="stylesheet" href="{% static 'css/formstyle.css' %} ">
</form>
</body>
</html>