<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Student Details</h1>
<table>
    <thead>
    <tr>
        <td>student_id</td>
        <td>Firstname</td>
        <td>Lastname</td>
        <td>userame</td>
        <td>Email</td>
        <td>Address</td>
        <td>Gender</td>
        <td>Phone</td>
        <td>Qualification</td>
        <td>resume</td>
    </tr>
    </thead>
    <tr>
        <td>{{data.std_id}}</td>
        <td>{{data.firstname}}</td>
        <td>{{data.lastname}}</td>
        <td>{{data.username}}</td>
        <td>{{data.email}}</td>
        <td>{{data.address}}</td>
        <td>{{data.gender}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.qualification}}</td>
        <td><img style="height :50px; width: 50px;" src="{{data.image.url}}"> </td>
        <a href="logout">logout</a>
    </tr>
</table>

</body>
</html>