.log{
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
form{
    /*border: double;*/
    margin-right: 350px;
    margin-left: 400px;
    margin-top: 30px;
    text-align: center;
    padding-bottom: 60px;
    background-color: gray;
}

